html{
    background-color: rgb(240, 240, 240);
    font-size: 20pt;
    font-family: 'Sour Gummy', sans-serif;
    scrollbar-color: red, red;
    min-height: 200px;
    height: 200px;
}
#Body{
        background-color: xantiquewhite;
        padding: 0;
}
h1#titp{
    margin: 20pt 0px 0pt 60pt;
    width: 240px;

}
a{
    color:black;
    text-decoration-line: none;
}
nav{
    background-color: xantiquewhite;
    word-spacing: 100pt;
    margin: -35pt 0 0pt 343.6pt;
    padding:0;
    width: 800px;
    font-size: larger;
    font-weight: 500;
}
main{
    background-color: xbisque;
    margin:50px 0 0 135px;
    padding: 0 0 0 0;
    width: 1200px;
    height: max-content;
    text-align: center;
}
img{
    
    background-color: xantiquewhite;
    width: 350px;
    height: 300px;
    border-radius: 20px;
}
input:active{
    background-color: rgb(208, 208, 208);
    color: rgb(161, 161, 161);
    width: 70px;
    height: 100px;
    font-size: larger;
    border:0px;
}
input{
    background-color: white;
    color: rgb(161, 161, 161);
    width: 70px;
    height: 100px;
    font-size: larger;
    border:0px;
}
#bte{
    margin:-390px 0 0 50px;
}
#btd{
    margin:-93px 0 0 1350px;
}
footer{
    margin:200px 40px 00px -10px;
    padding: 0 0 0 0px;
    background-color: xrgb(103, 89, 89);
    width: 1500px;
    height: 70px;
    text-align: center;
}
#la{
    font-size: medium;
    padding: 170px 0 0 0px;
}
#cpy{
    font-family: arial;
    font-size: small;
    padding: 10px 0 50px 0;
}